package com.uikoo9.manage.${pname}.model;

import java.util.List;

import com.jfinal.plugin.activerecord.Model;
import com.uikoo9.util.QStringUtil;
import com.uikoo9.util.crud.QTable;

/**
 * ${cname}Model<br>
 * id	id<br>
#foreach($col in $cols)
 * $col.get("colname")	$col.get("remarks")<br>
#end
 * @author qiaowenbin
 */
@QTable("${tablename}")
@SuppressWarnings("serial")
public class ${cname}Model extends Model<${cname}Model>{
	
	public static final ${cname}Model dao = new ${cname}Model();
	
	/**
	 * find all
	 * @return
	 */
	public List<${cname}Model> findAll(){
		return findAll(null);
	}
	
	/**
	 * find all by order
	 * @param order
	 * @return
	 */
	public List<${cname}Model> findAll(String order){
		StringBuilder sb = new StringBuilder("select * from ${tablename} ");
		if(QStringUtil.isEmpty(order)){
			return dao.find(sb.append("order by id desc").toString());
		}else{
			return dao.find(sb.append(order).toString());
		}
	}
	
}
